<div class="card text-center">
  <div class="card-header">
    <h2>My trades</h2>
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
      <div class="trades">
        <table class="table">
          <thead class="thead-dark">
            <tr class="row">
              <th class="col-1" scope="col">#</th>
              <th class="col-1" scope="col">Name</th>
              <th class="col-1" scope="col">Trade Type</th>
              <th class="col-1" scope="col">Transaction Date</th>
              <th class="col-1" scope="col">Buy Amount</th>
              <th class="col-1" scope="col">Currency</th>
              <th class="col-1" scope="col">Sell Amount</th>
              <th class="col-1" scope="col">Currency</th>
              <th class="col-1" scope="col">Trading Fee Amount</th>
              <th class="col-1" scope="col">Trading Fee Currency</th>
              <th class="col-1" scope="col"></th>
              <th class="col-1" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="row from-row" *ngFor="let trade of trades" (click)="onSelect(trade)" [class.selected]="trade === selectedtrade">
              <td class="col">              
                <span scope="row" class="badge">{{trade.id}}</span> 
              </td>
              <td class="col-1" scope="row"><p *ngIf="trade.id !== editTradeId">{{trade.name}}</p><input class="form-control" *ngIf="trade.id === editTradeId" [(ngModel)]="trade.name" type="text"></td>
              <td class="col-1" scope="row"><p *ngIf="trade.id !== editTradeId">{{trade.tradeType}}</p><input class="form-control" *ngIf="trade.id === editTradeId"  [(ngModel)]="trade.tradeType" type="text"></td>
              <td class="col-1" scope="row"><p *ngIf="trade.id !== editTradeId">{{trade.transactionDate}}</p><input class="form-control" *ngIf="trade.id === editTradeId"  [(ngModel)]="trade.transactionDate" type="text"></td>
              <td class="col-1" scope="row"><p *ngIf="trade.id !== editTradeId">{{trade.buyAmount}}</p><input class="form-control" *ngIf="trade.id === editTradeId"  [(ngModel)]="trade.buyAmount" type="text"></td>
              <td class="col-1" scope="row"><p *ngIf="trade.id !== editTradeId">{{trade.buyCurrency}}</p><input class="form-control" *ngIf="trade.id === editTradeId"  [(ngModel)]="trade.buyCurrency" type="text"></td>
              <td class="col-1" scope="row"><p *ngIf="trade.id !== editTradeId">{{trade.sellAmount}}</p><input class="form-control" *ngIf="trade.id === editTradeId"  [(ngModel)]="trade.sellAmount" type="text"></td>
              <td class="col-1" scope="row"><p *ngIf="trade.id !== editTradeId">{{trade.sellCurrency}}</p><input class="form-control" *ngIf="trade.id === editTradeId"  [(ngModel)]="trade.sellCurrency" type="text"></td>     
              <td class="col-1" scope="row"><p *ngIf="trade.id !== editTradeId">{{trade.tradingFeeAmount}}</p><input class="form-control" *ngIf="trade.id === editTradeId"  [(ngModel)]="trade.tradingFeeAmount" type="text"></td>
              <td class="col-1" scope="row"><p *ngIf="trade.id !== editTradeId">{{trade.tradingFeeCurrency}}</p><input class="form-control" *ngIf="trade.id === editTradeId"  [(ngModel)]="trade.tradingFeeCurrency" type="text"></td>
              <td *ngIf="trade.id !== editTradeId" class="col-1" scope="row">
                  <button class="delete-button form-control" (click)="deletetrade(trade, $event)">Delete</button>
              </td>
              <td *ngIf="trade.id !== editTradeId"  class="col-1"scope="row">
                  <button class="save-button form-control" (click)="edittrade(trade, $event)">Edit</button>
              </td>
              <td *ngIf="trade.id === editTradeId"  class="col-1" scope="row">
                <button class="delete-button form-control" (click)="cancelEditTrade()">Cancel</button>
              </td>
              <td *ngIf="trade.id === editTradeId"  class="col-1" scope="row">
                <button class="save-button form-control" (click)="saveEditTrade(trade, $event)">Save</button>
              </td>
              <div class="error" *ngIf="error">{{error}}</div>
            </tr>
            <br>
            <tr class="row from-row">
              <td class="col-1" scope="row">
                <span scope="row" class="badge">#</span> 
              </td>
            <!-- <tr class="d-flex" (click)="onSelect(trade)" [class.selected]="trade === selectedtrade"> -->
              <td class="col-1" scope="row"><input class="form-control" disabled="{{!addingTrade}}" [(ngModel)]="tradeToAdd.name" type="text"></td>
              <td class="col-1" scope="row"><input class="form-control" disabled="{{!addingTrade}}" [(ngModel)]="tradeToAdd.tradeType" type="text"></td>
              <td class="col-1" scope="row"><input class="form-control" disabled="{{!addingTrade}}"  [(ngModel)]="tradeToAdd.transactionDate" type="text"></td>
              <td class="col-1" scope="row"><input class="form-control" disabled="{{!addingTrade}}" [(ngModel)]="tradeToAdd.buyAmount" type="text"></td>
              <td class="col-1" scope="row"><input class="form-control" disabled="{{!addingTrade}}" [(ngModel)]="tradeToAdd.buyCurrency" type="text"></td>
              <td class="col-1" scope="row"><input class="form-control" disabled="{{!addingTrade}}" [(ngModel)]="tradeToAdd.sellAmount" type="text"></td>
              <td class="col-1" scope="row"><input class="form-control" disabled="{{!addingTrade}}" [(ngModel)]="tradeToAdd.sellCurrency" type="text"></td>     
              <td class="col-1" scope="row"><input class="form-control" disabled="{{!addingTrade}}" [(ngModel)]="tradeToAdd.tradingFeeAmount" type="text" ></td>
              <td class="col-1" scope="row"><input class="form-control" disabled="{{!addingTrade}}" [(ngModel)]="tradeToAdd.tradingFeeCurrency" type="text"></td>
              <td class="col-1" scope="row">
                <button class="form-control delete-button" *ngIf="addingTrade" (click)="cancel()">Cancel</button>
              </td>
              <td class="col-1" scope="row">
                <button class="form-control save-button" *ngIf="addingTrade" (click)="save()">Save</button>
                <button class="form-control save-button" *ngIf="!addingTrade" (click)="addtrade()">
                  <span class="glyphicon glyphicon-plus" aria-hidden="false">Add</span> 
                </button>
              </td>
              <div class="error" *ngIf="error">{{error}}</div>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="#" class="btn btn-primary">Submit Trades</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>


<!-- <div class="error" *ngIf="error">{{error}}</div>
<button (click)="addtrade()">Add New Trade</button>
<div *ngIf="addingTrade">
  <my-trade-detail (close)="close($event)"></my-trade-detail>
</div> -->

<!-- <div *ngIf="selectedtrade">
  <h2>
    {{selectedtrade.name | uppercase}} is my trade
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div>
  <style>
    .hidden { visibility: hidden}
  </style>
  <h4>ngFor Features</h4>
  <button (click)="showNgFor=!showNgFor">{{showNgFor ? 'Hide' : 'Show'}} ngFor Features</button>
  <table [class.hidden]="!showNgFor">
    <tbody>
      <tr *ngFor="let trade of trades; let ix = index; let c = count; let e = even; let o = odd; let f = first; let l = last">
        <td>{{trade.name}}</td>
        <td>{{ix}}</td>
        <td>{{c}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
      </tr>
    </tbody>
  </table>
</div> -->