<h2>My trades</h2>
<div class="trades">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Trade Type</th>
        <th scope="col">Transaction Date</th>
        <th scope="col">Buy Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Sell Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Trading Fee Amount</th>
        <th scope="col">Trading Fee Currency</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trade of trades" (click)="onSelect(trade)" [class.selected]="trade === selectedtrade">
        <td>              
          <span scope="row" class="badge">{{trade.id}}</span> 
        </td>
        <td scope="row">{{trade.name}}</td>
        <td scope="row">{{trade.tradeType}}</td>
        <td scope="row">{{trade.transactionDate}}</td>
        <td scope="row">{{trade.buyAmount}}</td>
        <td scope="row">{{trade.buyCurrency}}</td>
        <td scope="row">{{trade.sellAmount}}</td>
        <td scope="row">{{trade.sellCurrency}}</td>     
        <td scope="row">{{trade.tradingFeeAmount}}</td>
        <td scope="row">{{trade.tradingFeeCurrency}}</td>
        <p>              
          <button class="delete-button" (click)="deletetrade(trade, $event)">Delete</button>
        <p>
      </tr>
    </tbody>
  </table>
</div>


<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addtrade()">Add New Trade</button>
<div *ngIf="addingTrade">
  <my-trade-detail (close)="close($event)"></my-trade-detail>
</div>

<div *ngIf="selectedtrade">
  <h2>
    {{selectedtrade.name | uppercase}} is my trade
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div>
  <style>
    .hidden { visibility: hidden}
  </style>
  <h4>ngFor Features</h4>
  <button (click)="showNgFor=!showNgFor">{{showNgFor ? 'Hide' : 'Show'}} ngFor Features</button>
  <table [class.hidden]="!showNgFor">
    <tbody>
      <tr *ngFor="let trade of trades; let ix = index; let c = count; let e = even; let o = odd; let f = first; let l = last">
        <td>{{trade.name}}</td>
        <td>{{ix}}</td>
        <td>{{c}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
      </tr>
    </tbody>
  </table>
</div>