<h2>My trades</h2>

<ul class="trades">
  <li *ngFor="let trade of trades" (click)="onSelect(trade)" [class.selected]="trade === selectedtrade">
    <span class="trade-element">
      <span class="badge">{{trade.id}}</span> {{trade.name}}
    </span>
    <button class="delete-button" (click)="deletetrade(trade, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addtrade()">Add New trade</button>
<div *ngIf="addingtrade">
  <my-trade-detail (close)="close($event)"></my-trade-detail>
</div>

<div *ngIf="selectedtrade">
  <h2>
    {{selectedtrade.name | uppercase}} is my trade
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div>
  <style>
    .hidden { visibility: hidden}
  </style>
  <h4>ngFor Features</h4>
  <button (click)="showNgFor=!showNgFor">{{showNgFor ? 'Hide' : 'Show'}} ngFor Features</button>
  <table [class.hidden]="!showNgFor">
    <tbody>
      <tr *ngFor="let trade of trades; let ix = index; let c = count; let e = even; let o = odd; let f = first; let l = last">
        <td>{{trade.name}}</td>
        <td>{{ix}}</td>
        <td>{{c}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
      </tr>
    </tbody>
  </table>
</div>